VITE_APP_TITLE=PI
VITE_APP_SUBTITLE=Assistente inteligente do Projeto Pilares 2
VITE_WELCOME_TITLE=Bem-vindo ao Chat com IA!
VITE_WELCOME_MESSAGE=Envie sua primeira mensagem para começar a conversar com o assistente inteligente.
VITE_TYPING_MESSAGE=Assistente está digitando...
VITE_CLEAR_CHAT_TEXT=Limpar Chat
VITE_INPUT_PLACEHOLDER=Digite sua mensagem...
VITE_N8N_WEBHOOK_URL=https://webhook-ia.seplan.pi.gov.br/webhook/6e13ac90-2eaa-4c54-a322-307a401ec1f4/chat
VITE_USER_LABEL=Você
VITE_ASSISTANT_LABEL=PI
VITE_FOOTER_TEXT=Powered by SEPLAN-PI • Pilares 2 Cajuina v0.1
